.container {
    border: 1px solid black;
    height: 100px;
    position: relative;
    margin-top: 100px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  button {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    left: 50%;
  }

.welcome {
    border: 0px solid black;
    height: 50px;
    position: relative;
    
}
 h1 {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    
 }  